* {
  box-sizing: border-box;
}
/* Defines how the width and height of an element are calculated: should they include padding and borders, or not  */

body {
  margin: 0;
  padding: 0;
  /* removed all margin and padding */
}

.navbar {
  display: flex;
  /* to line up side by side  */
  justify-content: space-between;
  align-items: center;
  /* so that our links since they small will align perfect*/
  background-color: #333;
  color: white;
}
.brand-title {
  font-size: 25px;
  margin: 20px;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  /* so links align now */
}

.navbar-links li {
  list-style: none;
  text-decoration: none;
}

.navbar-links a {
  text-decoration: none;
  /* removed all underline */
  color: white;
  padding: 10px;
  display: block;
}
